/*buttons for pagination*/
.btn-custom {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-bottom: 20px;

}

.btn-custom i {
    margin-right: 8px;
}

.btn-custom:hover {
    background-color: white;
    color: red;
    border-color: red;
}